{% extends 'base.html' %}
{% load i18n %}

{% block main %}
     <div class="row">
        <div class="col">
                {% trans "Bem vindo!" %}
                {% blocktrans %}
                "Bem vindo, um ótimo dia de trabalho."
"                {% endblocktrans %}
      <a href="{% url 'list_employee' %}">Funcionários</a>
        <br>
      <a href="{% url 'list_departament' %}">Departamentos</a>
        <br>
      <a href="{% url 'list_overtime' %}">Horas Extras</a>
    </div>
    <div class="col">
      Olá {{ user.employee.name }}
    </div>
    <div class="col">
        {% if user.employee.company %}
            <a href="{% url 'edit_company' user.employee.company.id %}">Editar Empresa</a>
        {% else %}
            <a href="{% url 'create_company' %}">Cadastrar Empresa</a>
        {% endif %}
    <a href="{% url 'logout' %}">Logout</a>
    </div>
  </div>
{% endblock %}